.button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}

.button:disabled {
  opacity: 0.5;
}

.primary.button {
  background-color: #2fc18c;
}

.secondary.button {
  background-color: #35906f;
}
