.header-container {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: end;
  gap: 50px;
  padding: 40px 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.header-container .header-wrapper {
  align-items: center;
  display: flex;
  gap: 13px;
}

.header-wrapper img {
  border-radius: 100%;
  width: 40px;
}

.header-container .star {
  font-size: 20px;
}

.feedback .header-container {
  position: inherit;
}

.feedback .header-container img {
  position: absolute;
  top: -165%;
  width: 210px;
}
